body, html {
    margin: 0;
    padding: 0;
}

.main-container {
    font-size:30px;
    background-color: rgb(36, 116, 207);
    color : #fff;
    padding: 20px;
}

.items-table {
    border: solid 1px silver;
    border-collapse: collapse;
    margin: 20px 0 0 20px;

    th {
        background-color :palevioletred;
        color:#fff;
    }

    td {
        width: 200px;
        margin: 0 auto;
        text-align: center;
        border: solid 1px silver;
        height: 80px;
        
    }
}

.simple-table {
    border: solid 1px silver;
    width: 80%;
    margin: 20px;
    
    .table-head {
        display: flex;
        flex-direction: row;

        div {
            background-color:#42a5f5;
            color:#fff;
            flex: 1 1 auto;
            padding: 10px;
        }
    }

    .table-row {
        display: flex;
        flex-direction: row;

        &:hover {
            background-color:greenyellow;
        }

        div {
            flex:1 1 50%;
            border-right:solid 1px silver;
            border-bottom : solid 1px silver;
            padding: 10px;
        }

        div:nth-child(2) {
            border-right: none;
        }

        
    }

    .table-row:nth-last-child(1) {
        div {
            border-bottom:none;
        }

        div:nth-child-of(2) {
            border-right: none;
        }
    }
}

.add-new-item-form {
    select {
        padding:10px;
        border-radius:5px;
        margin: 10px;
        border: solid 1px darkgrey;
        outline: none;
    }

    input {
        padding: 9px;
        outline: none;
        margin-right: 10px;
    }

    button {
        background-color: plum;
        border: none;
        height: 50px;
        // width: 100px;
        padding: 10px;
        color: #000;
        cursor: pointer;
        font-weight: bold;

    }
}

